.twitterButton {
  background-image: url('./sign-in-with-twitter-link.png');
  width: 100px;
  height: 50px;
  display: inline-block;
  width: 158px;
  height: 28px;
  /*border-radius: 5px;*/
  border: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: transparent;
  cursor: pointer;
}
.twitterButton:hover {
  /*border: 1px solid #4099FF;*/
  /*background-color: #fff;*/
}